@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes floatBlob1 {
  0%,
  100% {
    transform: translate(-10%, -10%) scale(1);
  }
  50% {
    transform: translate(10%, 5%) scale(1.05);
  }
}

@keyframes floatBlob2 {
  0%,
  100% {
    transform: translate(10%, 0%) scale(1);
  }
  50% {
    transform: translate(-5%, 10%) scale(1.08);
  }
}
@keyframes meshMove {
  0% {
    background-position:
      20% 10%,
      80% 20%,
      30% 80%,
      70% 75%,
      50% 50%;
  }
  50% {
    background-position:
      30% 20%,
      70% 10%,
      20% 70%,
      80% 85%,
      55% 45%;
  }
  100% {
    background-position:
      20% 10%,
      80% 20%,
      30% 80%,
      70% 75%,
      50% 50%;
  }
}

.clash {
  font-family: "Clash Display", sans-serif;
}

.rilen {
  font-family: "Rilenheart Scottibela", sans-serif;
}
/* Cache les éléments reveal avant que GSAP s'initialise */
[data-reveal] {
  opacity: 0;
}

@media (max-width: 640px) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none !important;
  }
}
